/* Estilos generales del contenedor */
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh;
  max-width: 100%;
  text-align: center;
  color:white;

}
.btn-registro-usuario{
  display: flex;
  justify-content: center;
}

.contenedorregistro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
  max-width: 100%;
  text-align: center;
  color:white;

}


.links-rc{
  color: #38bdf8;
}

.links-rc:hover {
  color: #0ea5e9;
}

textarea::placeholder,
input::placeholder {
  color: white;
}

.contenedor-select{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  text-align: center;
  color:white;
}

/* Estilos del formulario */
.formulario {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  max-width: 800vh;
  padding: 6vh;
  background: #66728d;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}



.formulario label {
  display: flex;
  font-weight: bold;
  color: #fff;
  align-self: start;
  align-items: flex-start;
}




.formulario input,
.formulario textarea{
  width: 40vh;
  padding: 2vh;
  margin-bottom: 10px;
  border: 1px solid #4a5568;
  border-radius: 5px;
  background: #a5b4c8;
  color: #fff;
}


.formulario textarea {
  height: 100%;
}


.formulario button {
  width: 100%;
  padding: 2vh;
  background-color: #38bdf8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.formulario button:hover {
  background-color: #0ea5e9;
}



/* Fondo general */
body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: auto;
}


/* Estilos generales del select */
select {
  background-color:#a5b4c8;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  width: 45vh;
  transition: all 0.3s ease-in-out;
}




/* Cambia el color cuando el usuario se coloca sobre el */
select:hover,input:hover, textarea:hover {
  border-color: #00FA9A;
}




/* Estilo para las opciones */
option {
  font-size: 14px;
  padding: 5px;
}

/* Estilo cuando se selecciona una opción */
select option:checked {
  background-color: #38bdf8;
  color: white;
}





