/* Estilos generales del contenedor */
.contenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: auto;
  padding: 10px;
  max-width: 100%;
}
.errorm, .successm {
  position: absolute;
  top:15%;
  right: 2%;
}

/* Estilo de botón para mostrar u ocultar formulario */
.toggle-button {
  background: #2d3748;
  color: #38bdf8;
  border: 2px solid #4a5568;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  left: -8%; 
  gap: auto;
  top: auto;
  z-index: 3;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: all 0.5s ease-in-out;
}

/* Efecto Hover */
.toggle-button:hover {
  background: #1e293b; 
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.5);
  transform: scale(1.05);
  color: #0ea5e9;
  border-color: #0ea5e9;
}

/* Efecto Active */
.toggle-button:active {
  transform: scale(0.98);
  box-shadow: 0 0 5px rgba(56, 189, 248, 0.6);
  border-color: #38bdf8;
}

/* Mueve el botón cuando el formulario se oculta */
.formulario.hide ~ .toggle-button {
  transform: translateX(-220%);
}

/* Mantiene el botón en su posición original cuando el formulario está visible */
.formulario.show ~ .toggle-button {
  transform: translateX(0);
}

/* Estilos del formulario */
.formulario {
  transition: transform 0.5s ease-in-out;
  width: auto;
  max-width: 800px;
  padding: 30px;
  background: #2d3748;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: relative; 
  z-index: 1;
}


.formulario.hide {
  transform: translateX(-110%);
}

.formulario.show {
  transform: translateX(0);
}

.formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.formulario input,
.formulario textarea {
  width: 100%;
  max-width: auto; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #4a5568;
  border-radius: 5px;
  background: #1a202c;
  color: #fff;
}

.formulario textarea {
  height: 100%;
}

.formulario button {
  width: 100%;
  padding: 15px;
  margin: auto;
  background-color: #38bdf8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #0ea5e9;
}

/* Contenedor de los botones */
.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  align-items: center;
}

/* Estilos generales para los botones */
.capturar, .detener {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
  right:50%;
  text-transform: uppercase;
  width: 100%;
  max-width: auto;
}

/* Estilos del botón Capturar */
.capturar {
  background-color:#0c8e5ec8 ;
  color: white;
  box-shadow: 0 2px 6px rgba(52, 211, 153, 0.2);
}

.capturar:hover {
  background-color:  #309377;
  box-shadow: 0 4px 8px rgba(52, 211, 153, 0.3);
  transform: translateY(-1px);
}

/* Estilos del botón Detener */
.detener {
  background-color: #e03e3e;
  color: white;
  box-shadow: 0 2px 6px rgba(248, 113, 113, 0.2);
}

.detener:hover {
  background-color:  #f87171;
  box-shadow: 0 4px 8px rgba(248, 113, 113, 0.3);
  transform: translateY(-1px);
}

/* Mueve los botones cuando el formulario se oculta */
.formulario.hide ~ .botones .capturar,
.formulario.hide ~ .botones .detener {
  transform: translateX(-250%);
}

/* Mantiene los botones en su posición cuando el formulario está visible */
.formulario.show ~ .botones .capturar,
.formulario.show ~ .botones .detener{
  transform: translateX(0);
}

/* Estilos para los mensajes de error y éxito */
.formulario.hide ~ .botones .errorm {
  transform: translateX(-150%);
}

.formulario.hide ~ .botones .successm {
  transform: translateX(-150%);
}

.formulario.show ~ .botones .errorm {
  transform: translateX(0);
}

.formulario.show ~ .botones .successm {
  transform: translateX(0);
}

/* Fondo general */
body {
  background-color: #1a202c;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: auto;
  color: #f7fafc;
}

/* Estilos generales del select */
select {
  background-color: #1a1a1a;
  color: #00aaff;
  border: 2px solid #0077cc;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: auto;
}

/* Cambia el color cuando el usuario se coloca sobre el */
select:hover {
  border-color: #00ccff;
}

select:focus {
  box-shadow: 0px 0px 10px #00ccff;
  border-color: #00ccff;
}

/* Estilo para las opciones */
option {
  background-color: #000000;
  color: #00aaff;
  font-size: 14px;
  padding: 5px;
}

/* Estilo cuando se selecciona una opción */
select option:checked {
  background-color: #0077cc;
  color: white;
}

