/* Estilos de la gráfica */
.grafica-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
  left:-6%;
  background: #111;
  padding: 1%;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease-in-out;
  position: relative;
  justify-items: center; 
  width: 100%;
  max-width: 800px; 
}

/* Los elementos dentro de la gráfica */
.grafica-item {
  height: 130px;
  width: 100%;
  max-width: 400px; 
}

.grafica-title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

canvas {
  background: #222;
  width: 100%;
  height: 100%;
}

/* Mueve las gráficas solo cuando el formulario se oculta */
.formulario.hide ~ .grafica-container {
  transform: translateX(-54%); /* Ajuste: mueve  para que las gráficas sigan visibles */
}

/* Mantiene las gráficas en su posición original cuando el formulario está visible */
.formulario.show ~ .grafica-container {
  transform: translateX(0);
}
