.contenedor-gn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-self: center;
  justify-content: center;
  position: relative;
  gap: 5vh;
  padding: 2vh;
}


/* Estilos de la gráfica */
.grafica-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  left:0px;
  background: #66728d;
  padding: 1%;
  height: 640px;
  transition: transform 0.5s ease-in-out;
  position: relative;
  justify-items: center;
  width: 100%;
  max-width: 800px;
  z-index: 2;
  border-radius: 1vh;
}

/* Los elementos dentro de la gráfica */
.grafica-item {
  height: 130px;
  width: 100%;
  max-width: 400px;
  
}

.grafica-title {
  color: #fff;
  text-align: center;
  margin: 5px;
}

canvas {
  background: #222;
  width: 100%;
  height: 100%;
  border-radius: 1vh;
}



