/* Estilo para el contenedor de RoboDK */
.robodk {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out; /* Agregar transición para el movimiento */
  }
  
  /* Mueve el contenedor de RoboDK cuando el formulario se oculta */
  .formulario.hide ~ .robodk {
    transform: translateX(-120%); /* Desplaza el contenedor hacia la izquierda */
  }
  
/* Ocultar RoboDK cuando el formulario está visible */
.formulario.show ~ .robodk {
    opacity: 0;
    visibility: hidden;
  }